<div class="col-md-6 col-md-offset-1">
  <h2>Welcome to Robot World</h2><br>

  <div class="btn-group-vertical col-md-5 col-md-offset-1" role="group" aria-label="...">
    <a class="btn btn-primary" href="/robots" role="button">All Robots Index</a></li>
    <a class="btn btn-primary" href="/robots/new" role="button">Create New Robot!</a></li>
  </div>
</div>
